# --- Core Deep Learning ---
torch
torchvision
torchaudio

# --- Specialized Segmentation & Architectures ---
segmentation-models-pytorch
timm

# --- Image Processing ---
numpy
pillow
opencv-python
albumentations

# --- Metrics & Visualization ---
scikit-learn
matplotlib
seaborn
tqdm

# --- Utilities ---
pathlib